*.pyc
*.sql
core/geral/custom_settings.py
*.sublime-project
*.sublime-workspace
.idea/*
*/.idea/*
*.DS_Store
media/
#static/
static/*
#*.sassc
core/geral/static/sass/.sass-cache/*
!procedures/*.sql
!triggers/*.sql
core/html/static/sass/.sass-cache/*
.coverage
*.sassc
