=menu

#ico-menu
	display: none

#Menu
	background: url(#{$url-img}/menu-bg-repeat.png) repeat-x 0 0
	height: 27px
	position: relative
	z-index: 100

	.navegacao
		padding-left: 5px

		header
			display: none

		.splash-menu
			padding: 5px 0 0 20px
			a
				background: url(#{$url-img}/sacola-splasy.png) no-repeat 0 0
				width: 14px
				height: 15px

		.item-menu
			height: 27px
			position: relative
			float: left
			.lnk
				display: block
				background: url(#{$url-img}/seta-menu.png) no-repeat right top
				line-height: 27px
				height: 27px
				color: $cor-10
				padding:
					right: 28px
					left: 10px
				font:
					family: $roboto
					size: 1.4em

			&.dia-namorados
				background: url(#{$url-img}/bg-dia-dos-namorados.png) repeat-x 0 0
				float: right

				text-align: center

				a
					display: block
					line-height: 27px
					height: 27px
					color: $cor-10
					font:
						family: $roboto
						size: 1.4em
					padding: 0 20px
			.submenu
				display: none
				position: absolute
				top: 100%
				left: -1px
				background-color: $cor-10
				width: 360px
				z-index: 10
				@include box-shadow(1px, 1px,  2px, 0, $cor-21)
				border: 1px solid $cor-26
				border-top: none



				li
					float: left
					width: 118px
					height: 19px
					line-height: 19px
					border-bottom: 1px solid $cor-23
					font:
						family: $roboto
						size: 1.3em

					&.mid
						border:
							left: 1px solid $cor-23
							right: 1px solid $cor-23
					&.last
						border-bottom: none
					a
						display: block
						color: $cor-24
						padding-left: 15px
						text-overflow: ellipsis
						white-space: nowrap
						overflow: hidden

						&:hover
							color: $cor-25
				&.auto
					width: 170px

					li
						width: 100%

			&:hover
				.lnk
					background:
						position: right -27px
						color: $cor-10
					color: $cor-22
					margin: -1px -1px 0px
					-webkit-border-top-left-radius: 3px
					-webkit-border-top-right-radius: 3px
					-moz-border-radius-topleft: 3px
					-moz-border-radius-topright: 3px
					border-top-left-radius: 3px
					border-top-right-radius: 3px
					position: relative
					z-index: 20
					border: 1px solid $cor-26
					border-bottom: none

				.submenu
					display: block



