{% if destaques %}
	{% include 'blocos/bloco_um.html' with destaque=destaques.0 %}
	{% if eventos %}
		{% if destaques.1 %}
			{% include 'blocos/bloco_dois.html' with destaque=destaques.1 evento=eventos.0 %}
			{% if destaques.2 %}
				{% if eventos.1 %}
					{% include 'blocos/bloco_tres.html' with destaque=destaques.2 evento=eventos.1 %}
					{% if eventos.2 %}
						{% include 'blocos/bloco_quatro.html' with evento=eventos.2 ultimo=True %}
					{% else %}
						<br class="cl">
						{% for oferta in ofertas|slice:"8:" %}
							{% include 'blocos/oferta_item.html' %}
						{% endfor %}
					{% endif%}
				{% else %}
					{% include 'blocos/bloco_tres_sem_evento.html' with destaque=destaques.2 antes=True %}
					<br class="cl">
					{% for oferta in ofertas|slice:"10:" %}
						{% include 'blocos/oferta_item.html' %}
					{% endfor %}
				{% endif%}
			{% else %}
				{% if eventos.1 %}
					{% include 'blocos/bloco_tres_sem_destaque.html' with evento=eventos.1 ultimo=False %}
					{% if eventos.2 %}
						{% include 'blocos/bloco_quatro.html' with evento=eventos.2 ultimo=True %}
					{% endif %}
				{% else %}
					<br class="cl">
					{% for oferta in ofertas|slice:"6:" %}
						{% include 'blocos/oferta_item.html' %}
					{% endfor %}
				{% endif %}
			{% endif%}
		{% else %}
			{% include 'blocos/bloco_dois_sem_destaque.html' with evento=eventos.0 %}
			{% if eventos.1 %}
				{% include 'blocos/bloco_tres_sem_destaque.html' with evento=eventos.1 sem_destaque=True %}
				{% if eventos.2 %}
					{% include 'blocos/bloco_quatro_sem_destaque.html' with evento=eventos.2 %}
				{% endif%}
			{% else %}
				<br class="cl">
				{% for oferta in ofertas|slice:"11:" %}
					{% include 'blocos/oferta_item.html' %}
				{% endfor %}
			{% endif %}
		{% endif%}
	{% else %}
		{% if destaques.1 %}
			{% include 'blocos/bloco_dois_sem_evento.html' with destaque=destaques.1 %}
			{% if destaques.2 %}
				{% include 'blocos/bloco_tres_sem_evento.html' with destaque=destaques.2 %}
				<br class="cl">
				{% for oferta in ofertas|slice:"12:" %}
					{% include 'blocos/oferta_item.html' %}
				{% endfor %}
			{% else %}
				<br class="cl">
				{% for oferta in ofertas|slice:"8:" %}
					{% include 'blocos/oferta_item.html' %}
				{% endfor %}
			{% endif %}
		{% else %}
            <br class="cl">
            {% for oferta in ofertas|slice:"5:" %}
                {% include 'blocos/oferta_item.html' %}
            {% endfor %}
		{% endif %}
	{% endif %}
{% elif eventos %}
	{% include 'blocos/bloco_dois_sem_destaque.html' with evento=eventos.0 sem_destaque=True %}
	{% if eventos.1 %}
		{% include 'blocos/bloco_tres_sem_destaque.html' with evento=eventos.1 sem_destaque=True %}
		{% if eventos.2 %}
			{% include 'blocos/bloco_quatro.html' with evento=eventos.2 ultimo=False sem_destaque=True %}
		{% else %}
			<br class="cl">
			{% for oferta in ofertas|slice:"15:" %}
				{% include 'blocos/oferta_item.html' %}
			{% endfor %}
		{% endif%}
	{% else %}
		<br class="cl">
		{% for oferta in ofertas|slice:"7:" %}
			{% include 'blocos/oferta_item.html' %}
		{% endfor %}
	{% endif%}
{% else %}
	<br class="cl">
	{% for oferta in ofertas %}
		{% include 'blocos/oferta_item.html' %}
	{% endfor %}
{% endif %}
{% if mais_paginas %}
	{% if ultimo_destaque_id or ultimo_evento_id or ultima_oferta_id %}
	<br class="cl final" shopping-id="{{ shopping_id }}" data-destaque="{% for d in ultimo_destaque_id %}{{ d }}{% if not forloop.last%}, {%endif%}{%endfor%}" data-evento="{% for e in ultimo_evento_id %}{{ e }}{% if not forloop.last%}, {%endif%}{%endfor%}" data-oferta="{% for o in ultima_oferta_id %}{{ o }}{% if not forloop.last%}, {%endif%}{%endfor%}"{% if data_filtro %} data-filtro="{{ data_filtro }}"{% endif %}>
	{% endif %}
{% endif %}
