{% load staticfiles %}
<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>LLV</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/comum.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">


	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mobile-1.4.3.min.js' %}"></script>

	<script>
		static_url = "img/";
	</script>

	<script type="text/javascript" src="{% static 'js/comum.js' %}"></script>
	<script type="text/javascript">
		// alert($(window).width());
	</script>
    <!--[if lte IE 9]>
       <script type="text/javascript" src="static/js/cria-elemento.js"></script>
       <link rel="stylesheet" type="text/css" href="static/css/ie.css" >
    <![endif]-->

    <!--[if IE 8]>
       <link rel="stylesheet" type="text/css" href="static/css/ie8.css">
    <![endif]-->
</head>
<body>
	<!--
		a cada dois .grid, no segundo adicionar classe lastmob

		a cada 4 itens, para tv, adicionar a class lasttv
	-->

	<div class="container">
		<div id="menu-shoppings">
			<header>
				Selecione o shopping
			</header>
			<div class="content-mn fix">
				<ul>
					<li><a href="">Barra Shopping / New York City Center</a></li>
					<li><a href="">Morumbi Shopping</a></li>
					<li><a href="">ParkShopping São Caetano</a></li>
					<li><a href="">BarraShopping Sul</a></li>
					<li><a href="">Pátio Savassi</a></li>
					<li><a href="">Ribeirão Shopping</a></li>
					<li><a href="">BH Shopping</a></li>
					<li><a href="">ParkShopping</a></li>
					<li><a href="">Shopping Anália Franco</a></li>
					<li><a href="">Diamond Mall</a></li>
					<li><a href="">ParkShopping Barigui</a></li>
					<li><a href="">Shopping Santa Úrsula</a></li>
					<li><a href="">Jundiaí Shopping</a></li>
					<li><a href="">ParkShopping Campo Grande</a></li>
					<li><a href="">Shopping Vila Olímpia</a></li>
				</ul>
			</div>
		</div>
		<header id="Header" class="clearfix">
			<figure class="grid4 last notmob">
				<a href="" class=""><img src="{% static 'img/header-banner.jpg' %}"></a>
			</figure>
			<div class="head-mob mob">
				<a class="ico-brs fr"></a>
				<img src="{% static 'img/text-head-mob.png' %}">
			</div>
			<aside class="chamada mob">
				<a href="">Produtos com até 70% de desconto</a>
			</aside>
			<span id="ico-menu"></span>
			<section id="Menu" class="cl">

				<nav class="navegacao">
					<header class="fix">
						<p class="user fl">
							<img src="{% static 'img/user.jpg' %}">
							Nome Usuário
						</p>
						<a href="" class="sair fr">sair</a>
					</header>

					<ul>
						<li class="item-menu">

							<a class="lnk" href="javascript:;">Categorias</a>
							<div class="submenu fix">
								<ul>
									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li class="last"><a href="">item 1</a></li>
									<li class="mid last"><a href="">item 2</a></li>
									<li class="last"><a href="">item 3</a></li>
								</ul>
							</div>
						</li>

						<li class="item-menu">
							<a class="lnk" href="javascript:;">Gênero</a>
							<div class="submenu fix">
								<ul>
									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li class="last"><a href="">item 1</a></li>
									<li class="mid last"><a href="">item 2</a></li>
									<li class="last"><a href="">item 3</a></li>
								</ul>
							</div>
						</li>

						<li class="item-menu">
							<a class="lnk" href="javascript:;">Lojas</a>
							<div class="submenu fix">
								<ul>
									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li><a href="">item 1</a></li>
									<li class="mid"><a href="">item 2</a></li>
									<li><a href="">item 3</a></li>

									<li class="last"><a href="">item 1</a></li>
									<li class="mid last"><a href="">item 2</a></li>
									<li class="last"><a href="">item 3</a></li>
								</ul>
							</div>
						</li>

						<li class="item-menu">
							<a class="lnk" href="javascript:;">Faixa de Preço</a>
							<div class="submenu fix">
								<ul>
									<li><a href="">abaixo de R$ 30</a></li>
									<li class="mid"><a href="">de R$ 30 a R$ 50</a></li>
									<li><a href="">de R$ 50 a R$ 70</a></li>

									<li class="last"><a href="">de R$70 a R$100</a></li>
									<li class="mid last"><a href="">acima de R$100</a></li>
								</ul>
							</div>
						</li>

						<li class="item-menu last">
							<a class="lnk" href="javascript:;">Faixa de Desconto</a>
							<div class="submenu fix">
								<ul>
									<li><a href="">até 30%</a></li>
									<li class="mid"><a href="">de 30% a 50%</a></li>
									<li><a href="">de 50% a 70%</a></li>
								</ul>
							</div>
						</li>
					</ul>

				</nav>

			</section>
		</header><!-- #Header -->

		{% if destaques %}
			{% include 'blocos/bloco_um.html' with destaque=destaques.0 %}
			{% if eventos %}
				{% if destaques.1 %}
					{% include 'blocos/bloco_dois.html' with destaque=destaques.1 evento=eventos.0 %}
					{% if destaques.2 %}
						{% if eventos.1 %}
							{% include 'blocos/bloco_tres.html' with destaque=destaques.2 evento=eventos.1 %}
							{% if eventos.2 %}
								{% include 'blocos/bloco_quatro.html' with evento=eventos.2 %}
							{% else %}
								{% include 'blocos/so_ofertas.html' %}
							{% endif%}
						{% else %}
							{% include 'blocos/bloco_tres_sem_evento.html' with destaque=destaques.2 %}
						{% endif%}
					{% endif%}
				{% else %}
					{% include 'blocos/bloco_dois_sem_destaque.html' with evento=eventos.0 %}
				{% endif%}
			{% else %}
				{% if destaques.1 %}
					{% include 'blocos/bloco_dois_sem_evento.html' with destaque=destaques.1 %}
					{% if destaques.2 %}
						{% include 'blocos/bloco_tres_sem_evento.html' with destaque=destaques.2 %}
					{% else %}
						{% include 'blocos/so_ofertas.html' %}
					{% endif %}
				{% else %}
					{% include 'blocos/so_ofertas.html' %}
				{% endif %}
			{% endif %}
		{% elif eventos %}
			{% include 'blocos/bloco_dois_sem_destaque.html' with evento=eventos.0 %}
			{% if eventos.1 %}
				{% include 'blocos/bloco_tres_sem_destaque.html' with evento=eventos.1 %}
			{% else %}
				{% include 'blocos/so_ofertas.html' %}
			{% endif%}
			{% if eventos.2 %}
				{% include 'blocos/bloco_quatro.html' with evento=eventos.2 %}
			{% else %}
				{% include 'blocos/so_ofertas.html' %}
			{% endif%}
			{% include 'blocos/so_ofertas.html' %}
		{% else %}
			{% include 'blocos/so_ofertas.html' %}
		{% endif %}

	</div>

</body>
</html>