<ul class="escolher-shopping fix">
    <li><a href="http://www.liquidacaolapisvermelho.com.br/barra-shopping">BarraShopping</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/parkshopping-campo-grande">ParkShoppingCampoGrande</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/jundiai-shopping">Jundiaí Shopping</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/morumbi-shopping">MorumbiShopping</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/parkshopping-sao-caetano">ParkShoppingSãoCaetano</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/ribeirao-shopping">RibeirãoShopping</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/shopping-analia-franco">ShoppingAnáliaFranco</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/shopping-santa-ursula">ShoppingSantaÚrsula</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/shopping-vila-olimpia">ShoppingVilaOlímpia</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/bh-shopping">BH Shopping</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/diamondmall">DiamondMall</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/patio-savassi">Pátio Savassi</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/barrashopping-sul">BarraShoppingSul</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/parkshopping-barigui">ParkShoppingBarigüi</a></li>
    <li><a href="http://www.liquidacaolapisvermelho.com.br/parkshopping">ParkShopping</a></li>
</ul>