<ul class="escolher-shopping fix">
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/barra-shopping/">BarraShopping</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/parkshopping/">ParkShoppingCampoGrande</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/jundiai-shopping/">Jundiaí Shopping</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/morumbi-shopping/">MorumbiShopping</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/parkshopping-sao-caetano/">ParkShoppingSãoCaetano</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/ribeirao-preto-shopping/">RibeirãoShopping</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/shopping-analia-franco/">ShoppingAnáliaFranco</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/shopping-santa-ursula/">ShoppingSantaÚrsula</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/shopping-vila-olimpia/">ShoppingVilaOlímpia</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/bh-shopping/">BH Shopping</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/diamondmall-shopping/">DiamondMall</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/patio-savassi/">Pátio Savassi</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/barrashopping-sul/">BarraShoppingSul</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/parkshopping-barigui/">ParkShoppingBarigüi</a></li>
    <li><a href="https://llv.liquidacaolapisvermelho.com.br/parkshopping-campo-grande/">ParkShopping</a></li>
</ul>