<ul class="escolher-shopping fix">
    <li><a href="{{ SITE_URL }}/barra-shopping/">BarraShopping</a></li>
    <li><a href="{{ SITE_URL }}/parkshopping-campo-grande/">ParkShoppingCampoGrande</a></li>
    <li><a href="{{ SITE_URL }}/jundiai-shopping/">Jundiaí Shopping</a></li>
    <li><a href="{{ SITE_URL }}/morumbi-shopping/">MorumbiShopping</a></li>
    <li><a href="{{ SITE_URL }}/parkshopping-sao-caetano/">ParkShoppingSãoCaetano</a></li>
    <li><a href="{{ SITE_URL }}/ribeirao-preto-shopping/">RibeirãoShopping</a></li>
    <li><a href="{{ SITE_URL }}/shopping-analia-franco/">ShoppingAnáliaFranco</a></li>
    <li><a href="{{ SITE_URL }}/shopping-santa-ursula/">ShoppingSantaÚrsula</a></li>
    <li><a href="{{ SITE_URL }}/shopping-vila-olimpia/">ShoppingVilaOlímpia</a></li>
    <li><a href="{{ SITE_URL }}/bh-shopping/">BH Shopping</a></li>
    <li><a href="{{ SITE_URL }}/diamondmall-shopping/">DiamondMall</a></li>
    <li><a href="{{ SITE_URL }}/patio-savassi/">Pátio Savassi</a></li>
    <li><a href="{{ SITE_URL }}/barrashopping-sul/">BarraShoppingSul</a></li>
    <li><a href="{{ SITE_URL }}/parkshopping-barigui/">ParkShoppingBarigüi</a></li>
    <li><a href="{{ SITE_URL }}/parkshopping/">ParkShopping</a></li>
</ul>