{% load staticfiles %}
<div class="content fix">
	<div class="colunaProduto fl">
		<figure id="fotoProduto" class="fix">
		{% if destaque.desconto or destaque.desconto != 0 %}
			<span class="desconto">{{ destaque.desconto }}</span>
		{% endif %}
			<img src="{{ destaque.imagem }}" alt="{{ destaque.loja.nome }}" width="" height="" class="fl">
		</figure>
	</div>


	<div class="colunaDados fl">
		<article class="fix">
			<p class="chapeu">{{ destaque.chamada_promocional }}</p>
			<h2 class="titulo">{{ destaque.titulo }}</h2>
			<p class="descricao">{{ destaque.descricao }}</p>

			{% if destaque.preco_inicial %}
            <p class="preco_anterior">de R$ {{ destaque.preco_inicial }}</p>
            {% endif %}
			<p class="preco_atual">
				{% if destaque.preco_inicial %}
                <span class="por">por: </span>
                {% endif %}
				{% if destaque.preco_final %}
				<span class="cifrao">R$ </span>
				<span class="valor">{{ destaque.preco_final }}</span>
                {% endif %}
			</p>

			<section class="qualMarca fix">
				<div class="box fix">
					{% if destaque.loja.logo %}
						<img src="{{ destaque.loja.logo }}" alt="{{ destaque.loja.nome }}">
					{% else %}
						<p class="center">{{ destaque.loja.nome }}</p>
					{% endif %}
					{% if destaque.loja.telefone %}
					<p class="center">
						<span class="txt">Ligue para a loja </span><br />
						<span class="tel">{{ destaque.loja.telefone }}</span>
					</p>
					{% endif %}
				</div>
				<p class="foot">Essa oferta expira em {{ destaque.expira_str }} ou enquanto durarem os estoques.</p>
			</section>

			<p class="curtidas"><span data-id="{{ destaque.id }}">{{ destaque.curtidas }} pessoas curtiram essa oferta</span></p>

			<p class="share"><a class="share-modal" href="javascript:;" data-href="{% url 'modal_share' destaque.id %}" data-param=786>Compartilhe com seus amigos</a></p>

		</article>

	</div>
</div>