{% load staticfiles %}
<div class="content fix">
	<div class="colunaProduto fl">
		<figure id="fotoProduto" class="fix">
		{% if destaque.porcentagem and destaque.porcentagem != 0 and destaque.preco_final %}
			<span class="desconto">{{ destaque.porcentagem }}</span>
		{% endif %}
			<img src="{{ destaque.imagem }}" alt="{{ destaque.loja.nome }}" width="" height="" class="fl">
		</figure>
	</div>


	<div class="colunaDados fl">
		<article class="fix">
			<p class="chapeu">{{ destaque.chamada_promocional }}</p>
			<h2 class="titulo">{{ destaque.titulo }}</h2>
			<p class="descricao">{{ destaque.descricao }}</p>

			{% if destaque.preco_inicial %}
            <p class="preco_anterior">de R$ {{ destaque.preco_inicial }}</p>
            {% endif %}
			<p class="preco_atual">
				{% if destaque.preco_inicial %}
				<span class="por">por: </span>
				{% endif %}
				{% if destaque.preco_final %}
				<span class="cifrao">R$ </span>
				<span class="valor">{{ destaque.preco_final }}</span>
				{% endif %}
			</p>

			{% if destaque.loja %}
			<section class="qualMarca fix">
				<div class="box fix">
					{% if destaque.loja.logo %}
						<img src="{{ destaque.loja.logo }}" alt="{{ destaque.loja.nome }}">
					{% else %}
						<p class="center">{{ destaque.loja.nome }}</p>
					{% endif %}
					{% if destaque.loja.telefone %}
					<p class="center">
						<span class="txt">Ligue para a loja </span><br />
						<a class="tel" href="tel:{{ destaque.loja.telefone }}">{{ destaque.loja.telefone }}</a>
					</p>
					{% endif %}
				</div>
				<p class="foot">Essa oferta expira em {{ destaque.fim }} ou enquanto durarem os estoques.</p>
			</section>
			{% endif %}

			<p class="curtidas"><span data-id="{{ destaque.id }}">
                {% if destaque.curtidas == '1' %}
                    {{ destaque.curtidas }} pessoa curtiu essa oferta
                {% else %}
                    {{ destaque.curtidas }} pessoas curtiram essa oferta
                {% endif %}
            </span></p>

			<p class="share"><a class="share-modal" href="javascript:;" data-href="{% url 'modal_share' destaque.id %}" data-param=786>Compartilhe com seus amigos</a></p>

		</article>

	</div>
</div>
<script type="text/javascript">
marca_minhas_curtidas();
</script>