{% load staticfiles %}
<div class="content fix" id="modalEvento">
	<div class="colunaProduto fl">
		<figure id="fotoProduto" class="fix">
			<span class="desconto">30%</span>
			<img src="{% static 'img/img-vertical-modal.png' %}" alt="" width="" height="" class="fl">
		</figure>
	</div>

	<div class="colunaDados  fl">
		<article class="fix">
			<p class="chapeu">Participe</p>
			<h2 class="titulo">Dia das Mães Barra Shopping</h2>
			<p class="descricao">
				A cada R$ 500,00 em compras você ganha 1 bolsa térmica bem colorida e moderna.

				<br><br>
				Você ainda recebe 1 cupom para concorrer a 1 BMW X1.

				<br><br>
				Consulte o regulamento em nosso site e participe
			</p>

			<p class="curtidas"><span>2.189 pessoas curtiram essa oferta</span></p>

			<p class="share"><a href="">Compartilhe com seus amigos</a></p>

		</article>
	</div>
</div>