{% load staticfiles %}
<div class="content fix" id="modalEvento">
	<div class="colunaProduto fl">
		<figure id="fotoProduto" class="fix">
			{% if evento.porcentagem %}
			<span class="desconto">{{ evento.porcentagem }}</span>
			{% endif %}
			<img src="{{ evento.imagem }}" alt="{{ evento.loja.nome }}" width="" height="" class="fl">
		</figure>
	</div>

	<div class="colunaDados  fl">
		<article class="fix">
			<p class="chapeu">{{ evento.chamada_promocional }}</p>
			<h2 class="titulo">{{ evento.titulo }}</h2>
			<p class="descricao">{{ evento.descricao }}</p>

			<p class="curtidas"><span data-id="{{ evento.id }}">
                {% if evento.curtidas == '1' %}
                    {{ evento.curtidas }} pessoa curtiu essa oferta
                {% else %}
                    {{ evento.curtidas }} pessoas curtiram essa oferta
                {% endif %}
            </span></p>

			<p class="share"><a class="share-modal" href="javascript:;" data-href="{% url 'modal_share' evento.id %}" data-param=786>Compartilhe com seus amigos</a></p>

		</article>
	</div>
</div>
<script type="text/javascript">
marca_minhas_curtidas();
</script>