<div style="background-color: #b61904; color:#faf9f9; padding:10px 10px;">
    <p style="font-size: 20px; text-align: center;">Falta pouco</p>
    <br />
    <p style="font-size: 14px; text-align: center;">Para uma melhor
        experiência em nosso
        aplicativo, conecte-se com sua conta do Facebook.
        <br /><br />
        <a href="javascript:;" class="conectar_fb" style="">OK?</a>
        <a href="javascript:;" class="conectar_fb" style=""><img src="{{ STATIC_URL }}img/facebook-connect-large.png" /></a>
    </p>
</div>
