<div style="background-color: #ffffff; color:#eeeee; padding:10px 10px; border: 1px solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;">
   
   <p style="font-size: 14px; text-align: center;"><img src="{{ STATIC_URL }}img/ico-llv-loginFB.png" />
   <br/>Para compartilhar e curtir as ofertas com seus amigos é preciso conectar com sua conta do Facebook.<br/><br/>
    <strong>Lápis Vermelho</strong> gostaria de publicar no Facebook para você.
        <br /><br />
        <!--<a href="javascript:;" class="conectar_fb" style="">OK?</a>-->
        <a href="javascript:;" class="conectar_fb" style=""><img src="{{ STATIC_URL }}img/facebook-connect-large.png" /></a>
    </p>
</div>
