{% load staticfiles %}
<script>
	$(".thumbs-list  a[data-img]").on({
		click: function(){
			var thumb = $(this);
			var url_thumb = thumb.attr("data-img");
			var img_gde = $("#fotoProduto img");

			img_gde.attr("src", url_thumb);
			return false;
		}
	})
</script>

<div class="content fix">
	<div class="colunaProduto fl">
		{% for imagem in oferta.imagens %}
			{% if forloop.first %}
			<figure id="fotoProduto" class="fix">
			{% if oferta.porcentagem or oferta.porcentagem != 0 %}
				<span class="desconto">{{ oferta.porcentagem }}</span>
			{% endif %}
				<img src="{{ imagem.maior }}" alt="" width="" height="" class="fl">
			</figure>
			<section class="thumbs-list">
				<ul>
			{% endif %}
					<li class="fl">
						<a href="javascript:;" data-img="{{ imagem.maior }}"><img src="{{ imagem.menor }}" alt="{{ oferta.titulo }}"></a>
					</li>
			{% if forloop.last %}
				</ul>
			</section>
			{% endif %}
		{% endfor %}
	</div>


	<div class="colunaDados fl">
		<article class="fix">
			<p class="chapeu">{{ oferta.chamada_promocional }}</p>
			<h2 class="titulo">{{ oferta.titulo }}</h2>
			<p class="descricao">{{ oferta.descricao }}</p>

			{% if oferta.preco_inicial %}
            <p class="preco_anterior">de R$ {{oferta.preco_inicial}}</p>
            {% endif %}
			<p class="preco_atual">
                {% if oferta.preco_inicial %}
				<span class="por">por: </span>
                {% endif %}
				{% if oferta.preco_final %}
				<span class="cifrao">R$ </span>
				<span class="valor">{{ oferta.preco_final}}</span>
                {% endif %}
			</p>

			<section class="qualMarca fix">
				<div class="box fix">
					{% if oferta.loja.logo %}
						<figure class="fl">
							<img src="{{ oferta.loja.logo }}" alt="{{ oferta.loja.nome }}">
						</figure>
					{% else %}
						<p class="center">{{ oferta.loja.nome }}</p>
					{% endif %}
					{% if oferta.loja.telefone %}
					<p class="center">
						<span class="txt">Ligue para a loja </span><br />
						<a href="tel:{{ oferta.loja.telefone }}" class="tel">{{ oferta.loja.telefone }}</a>
					</p>
					{% endif %}
				</div>
				<p class="foot">Essa oferta expira em {{ oferta.fim }} ou enquanto durarem os estoques.</p>
			</section>

			<p class="curtidas"><span data-id="{{ oferta.id }}">
				{{ oferta.curtidas }}{% if oferta.curtidas == 1 %} pessoa
				curtiu{% else %} pessoas curtiram{% endif %} essa oferta
			</span></p>

			<p class="share"><a class="share-modal" href="javascript:;" data-href="{% url 'modal_share' oferta.id %}" data-param=786>Compartilhe com seus amigos</a></p>

		</article>

	</div>
</div>
<script type="text/javascript">
marca_minhas_curtidas();
</script>