<script>
	if(largura_window <=480) {
		console.log("entrou aqui");
		var qtd_itens = $("#ShareProduto .content-share .col-opcoes .content-opcoes ul:not(.off) li").length;
		var largura_itens = $("#ShareProduto .content-share .col-opcoes .content-opcoes ul:not(.off) li").outerWidth(true);

		$("#ShareProduto .content-share .col-opcoes .content-opcoes ul:not(.off)").width(qtd_itens*largura_itens+10);

		console.log(qtd_itens*largura_itens);
	}

</script>

<div class="content fix" id="ShareProduto">
	<header class="head">
		<h3 class="titulo">Compartilhar Produto</h3>
	</header>
	<section class="fix content-share">
		<div class="col-produto fl fix">

			<figure id="foto-share">
				<div class="fix">
					<img src="{{ imagem_url }}" alt="{{ item.titulo }}" class="prod" data-produtoimg="{{ imagem_id }}">
					<img src="" alt="" class="sec off">
				</div>
			</figure>
			<footer class="fix cl">
				<a href="javascript:;" class="bt-reset fl">Limpar foto</a>

				<a href="javascript:;" class="bt-share fr" data-id="{{ item.id }}" data-base="{{imagem_id}}" data-mask="">Compartilhe com seus amigos</a>

			</footer>

		</div>

		<div class="col-opcoes fr fix">
			<nav class="abas">
				<ul>
					<li class="fl ativo"><a href="javascript;;" data-aba="aba-1">DIA-A-DIA</a></li>
				</ul>
			</nav>
			<section class="fix content-opcoes">
				<ul data-box="aba-1">
				{% for mascara in mascaras %}
					<li class="fl"><a href="javascript:;" data-src="{{ mascara.imagem }}" data-mask="{{mascara.id}}"><img src="{{ mascara.thumb }}" alt=""></a></li>
				{% endfor %}
				</ul>
			</section>
		</div>
	</section>
</div>