{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block css_commons %}{% endblock css_commons %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block branding %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="row-fluid">
        <div class="well span6 well-wrapper-form">
            <img class="img-circle logo-admin" src="{% static "img/header-banner-mobile.png" %}" alt="{{ site.name }}">
            {% if validlink %}
                <p>Por favor insira sua nova senha.<br />
                   Digite-a duas vezes para validarmos.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <h1>Resete de senha inválido</h1>
                <p>O link para resetar a senha é inválido, possivelmente por já ter sido usado. <br />
                Por favor, reinicie as etapas de resetar a senha.</p>
            {% endif %}
            <p class="link-site-name">
                <a href="{% url 'admin:index' %}">
                    << voltar
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        $(document).ready(function(){
            {% if not form.this_is_the_login_form.errors %}
                {% if form.username.errors %}
                    user = $("#username");
                    user.popover({
                        'placement' : 'top',
                        'title' : '<i class="icon-user"></i> {{ form.username.label }}',
                        'content' : '{{ form.username.errors }}',
                        'trigger': 'focus'
                    }).keydown(function(){user.popover('hide');});
                {% endif %}
                {% if form.password.errors %}
                    pass = $("#password");
                    pass.popover({
                        'placement' : 'bottom',
                        'title' : '<i class="icon-lock"></i> {% trans 'Password' %}',
                        'content' : '{{ form.password.errors }}',
                        'trigger': 'focus'
                    }).keydown(function(){pass.popover('hide');});
                {% endif %}
                {% if not form.username.errors and not form.password.errors %}
                    $('#username').focus();
                {% endif %}
            {% endif %}
        });
    })(django.jQuery);
    </script>
{% endblock js_footer %}
