{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block css_commons %}{% endblock css_commons %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block branding %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="row-fluid">
        <div class="well span6 well-wrapper-form">
            <img class="img-circle logo-admin" src="{% static "img/header-banner-mobile.png" %}" alt="{{ site.name }}">
            <form class="bs-docs-example form-inline"  id="login-form">
                <fieldset>
                    <legend>Email enviado!</legend>
                </fieldset>
            </form>
            <h4 style="text-align: center">As instruções foram enviadas e, em breve, estão no seu e-mail cadastrado no
                site.</h4>
            <p class="link-site-name">
                <a href="{% url 'admin:index' %}">
                    << voltar
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        $(document).ready(function(){
            {% if not form.this_is_the_login_form.errors %}
                {% if form.username.errors %}
                    user = $("#username");
                    user.popover({
                        'placement' : 'top',
                        'title' : '<i class="icon-user"></i> {{ form.username.label }}',
                        'content' : '{{ form.username.errors }}',
                        'trigger': 'focus'
                    }).keydown(function(){user.popover('hide');});
                {% endif %}
                {% if form.password.errors %}
                    pass = $("#password");
                    pass.popover({
                        'placement' : 'bottom',
                        'title' : '<i class="icon-lock"></i> {% trans 'Password' %}',
                        'content' : '{{ form.password.errors }}',
                        'trigger': 'focus'
                    }).keydown(function(){pass.popover('hide');});
                {% endif %}
                {% if not form.username.errors and not form.password.errors %}
                    $('#username').focus();
                {% endif %}
            {% endif %}
        });
    })(django.jQuery);
    </script>
{% endblock js_footer %}
