#Header {
  margin-bottom: 10px;
}
#Header figure {
  overflow: hidden;
}
#Header figure img {
  display: block;
  width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  height: 1%;
}

.clear {
  display: block;
  clear: both;
  height: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

.rpl {
  overflow: hidden;
  text-indent: -9999em;
  display: block;
}
.rpl a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.fix {
  overflow: hidden;
  zoom: 1;
  display: block;
}

.cl {
  clear: both;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}

.hide, .off {
  display: none;
}

.txt-alta {
  text-transform: uppercase;
}

.last-right {
  margin-right: 0;
  border-right: none !important;
}

.rel {
  position: relative;
}

.mob {
  display: none;
}

.notmob {
  display: block;
}

.center {
  text-align: center;
  width: 100% !important;
  padding-top: 0px !important;
  font-size: 1.6em;
}

.maskmenu {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 80;
}

#menu-shoppings {
  display: none;
}

.dois-itens-v .item {
  margin-bottom: 5px;
}
.dois-itens-v .item.last {
  margin-bottom: 0;
}

.item {
  -webkit-box-shadow: 1px 1px 1px 0 #c2c2c2;
  box-shadow: 1px 1px 1px 0 #c2c2c2;
  background-color: white;
  position: relative;
  padding-bottom: 1px;
}
.item .desconto {
  background: url(../img/desconto.png) no-repeat 0 0;
  background-size: 100% 100%;
  font-family: "Trebuchet MS";
  position: absolute;
  z-index: 20;
  width: 56px;
  height: 49px;
  line-height: 49px;
  color: white;
  padding-left: 10px;
  font-size: 2.2em;
  top: 12px;
  left: 2px;
}
.item figure {
  padding: 5px;
}
.item figure img {
  display: block;
  width: 100%;
}
.item .content {
  margin: 0 12px 5px;
  position: relative;
}
.item .content .marca {
  position: absolute;
  width: 120px;
  height: 50px;
  border: 1px solid #f7f7f7;
  top: 50%;
  margin-top: -25px;
  right: 4px;
}
.item .content .titulo {
  color: #2e2e2e;
}
.item .content .descricao {
  color: #2e2e2e;
  height: 37px;
  overflow: hidden;
}
.item .content .outro a {
  font-size: 1.4em;
  color: #d11924;
}
.item .content .outro .valor1 {
  font-size: 1.2em;
  color: #6e6e70;
  text-decoration: line-through;
}
.item .content .outro .valor2 {
  color: #d11924;
}
.item .content .outro .valor2 span {
  font-size: 1.4em;
}
.item .content .outro .valor2 strong {
  font-size: 1.8em;
  font-weight: normal;
}
.item footer {
  margin: 0 1px;
  height: 26px;
  background-color: #faf9f9;
  font-size: 1.1em;
}
.item footer .like {
  background: url(../img/ico-like.png) no-repeat 0 0;
  color: #4d4d4c;
  padding-left: 18px;
  margin-left: 8px;
  height: 26px;
  line-height: 26px;
}
.item footer .share {
  color: #3c599b;
  height: 26px;
  line-height: 26px;
  margin-right: 8px;
}
.item footer .share:hover {
  text-decoration: underline;
}

.grid .content {
  margin: 0 5px 0;
  height: 42px;
}
.grid .content .descricao {
  font-size: 1.3em;
}

.grid2 .item figure {
  margin-bottom: 6px;
}
.grid2 .item .content .titulo {
  font-size: 1.6em;
  height: 27px;
}
.grid2 .item .content .descricao {
  font-size: 1.4em;
  width: 230px;
  line-height: 14px;
  height: 41px;
}
.grid2 .item .content .outro {
  height: 31px;
}

#ShareProduto {
  padding: 0px !important;
  margin: 0px !important;
}
#ShareProduto .head {
  background-color: #425e9e;
  height: 39px;
  margin-bottom: 10px;
}
#ShareProduto .head .titulo {
  font-family: "Roboto";
  font-size: 1.5em;
  color: white;
  line-height: 39px;
  padding-left: 12px;
}
#ShareProduto .content-share {
  padding: 0 0 0 14px;
}
#ShareProduto .content-share .col-produto {
  width: 388px;
  float: left;
  padding-bottom: 13px;
}
#ShareProduto .content-share .col-produto .bt-reset, #ShareProduto .content-share .col-produto .bt-share {
  background-repeat: repeat-x;
  background-position: 0 0;
  height: 28px;
  line-height: 28px;
  border: 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#ShareProduto .content-share .col-produto .bt-reset {
  background-image: url(../img/bg-reset.png);
  color: #3d5b9c;
  margin-left: 6px;
  border-color: #c4c4c6;
  padding: 0 10px 0 16px;
  font-size: 1.3em;
}
#ShareProduto .content-share .col-produto .bt-share {
  background-image: url(../img/bg-share.png);
  color: white;
  margin-right: 8px;
  border-color: #284689;
  padding: 0 8px;
  font-size: 1.4em;
}
#ShareProduto .content-share .col-opcoes {
  width: 368px;
  float: right;
}
#ShareProduto .content-share .col-opcoes .abas {
  height: 29px;
  position: relative;
  z-index: 10;
}
#ShareProduto .content-share .col-opcoes .abas li {
  font-size: 1.2em;
}
#ShareProduto .content-share .col-opcoes .abas li a {
  color: #737375;
  display: block;
  line-height: 29px;
  padding: 0 15px;
}
#ShareProduto .content-share .col-opcoes .abas li a:hover {
  color: #3b599b;
}
#ShareProduto .content-share .col-opcoes .abas li.ativo {
  background-color: #e7ebf3;
  border: 1px solid #d2daea;
  border-bottom: none;
  margin: 0 0 -1px 0;
}
#ShareProduto .content-share .col-opcoes .abas li.ativo a {
  color: #3b599b;
  line-height: 28px;
  padding: 0 14px 1px;
}
#ShareProduto .content-share .col-opcoes .content-opcoes {
  background-color: #e7ebf3;
  border-left: 1px solid #d2daea;
  border-top: 1px solid #d2daea;
  padding-right: 13px;
  padding-top: 9px;
}
#ShareProduto .content-share .col-opcoes .content-opcoes ul {
  overflow-x: hidden;
  overflow-y: auto;
  height: 407px;
}
#ShareProduto .content-share .col-opcoes .content-opcoes li {
  width: 100px;
  height: 99px;
  margin-left: 11px;
  margin-bottom: 11px;
  overflow: hidden;
}
#ShareProduto .content-share .col-opcoes .content-opcoes li a {
  width: 98px;
  height: 97px;
  display: block;
  border: 1px solid #4c4b4b;
}
#ShareProduto .content-share .col-opcoes .content-opcoes li a:hover, #ShareProduto .content-share .col-opcoes .content-opcoes li a.ativo {
  border-color: #f9f57f;
}

#foto-share {
  position: relative;
  width: 376px;
  height: 376px;
  border: 1px solid whitesmoke;
  padding: 6px 5px;
  margin-bottom: 13px;
}
#foto-share div {
  position: relative;
}
#foto-share .prod {
  position: relative;
  z-index: 1;
  width: 100%;
}
#foto-share .sec {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#ico-menu {
  display: none;
}

#Menu {
  background: url(../img/menu-bg-repeat.png) repeat-x 0 0;
  height: 27px;
  position: relative;
  z-index: 100;
}
#Menu .navegacao {
  padding-left: 5px;
}
#Menu .navegacao header {
  display: none;
}
#Menu .navegacao .splash-menu {
  padding: 5px 0 0 20px;
}
#Menu .navegacao .splash-menu a {
  background: url(../img/sacola-splasy.png) no-repeat 0 0;
  width: 14px;
  height: 15px;
}
#Menu .navegacao .item-menu {
  height: 27px;
  position: relative;
  float: left;
}
#Menu .navegacao .item-menu .lnk {
  display: block;
  background: url(../img/seta-menu.png) no-repeat right top;
  line-height: 27px;
  height: 27px;
  color: white;
  padding-right: 28px;
  padding-left: 10px;
  font-family: "Roboto";
  font-size: 1.4em;
}
#Menu .navegacao .item-menu.dia-namorados {
  background: url(../img/bg-dia-dos-namorados.png) repeat-x 0 0;
  float: right;
  text-align: center;
}
#Menu .navegacao .item-menu.dia-namorados a {
  display: block;
  line-height: 27px;
  height: 27px;
  color: white;
  font-family: "Roboto";
  font-size: 1.4em;
  padding: 0 20px;
}
#Menu .navegacao .item-menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  background-color: white;
  width: 360px;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 2px 0 #c2c2c2;
  box-shadow: 1px 1px 2px 0 #c2c2c2;
  border: 1px solid #f9e0e1;
  border-top: none;
}
#Menu .navegacao .item-menu .submenu li {
  float: left;
  width: 118px;
  height: 19px;
  line-height: 19px;
  border-bottom: 1px solid #f1f0f0;
  font-family: "Roboto";
  font-size: 1.3em;
}
#Menu .navegacao .item-menu .submenu li.mid {
  border-left: 1px solid #f1f0f0;
  border-right: 1px solid #f1f0f0;
}
#Menu .navegacao .item-menu .submenu li.last {
  border-bottom: none;
}
#Menu .navegacao .item-menu .submenu li a {
  display: block;
  color: #1a1a1a;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#Menu .navegacao .item-menu .submenu li a:hover {
  color: #cd2228;
}
#Menu .navegacao .item-menu .submenu.auto {
  width: 170px;
}
#Menu .navegacao .item-menu .submenu.auto li {
  width: 100%;
}
#Menu .navegacao .item-menu:hover .lnk {
  background-position: right -27px;
  background-color: white;
  color: #016e55;
  margin: -1px -1px 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  z-index: 20;
  border: 1px solid #f9e0e1;
  border-bottom: none;
}
#Menu .navegacao .item-menu:hover .submenu {
  display: block;
}

.mask, .maskmenushp, .maskmenu {
  background-color: black;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
}

.preloading {
  position: fixed;
  top: 0;
  z-index: 9999;
}

#lightbox {
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#lightbox .lightbox {
  position: absolute;
  top: 8%;
  left: 50%;
  z-index: 200;
}
#lightbox .loading {
  background: url(../img/loading.gif) no-repeat bottom left;
  position: fixed;
  z-index: 9999;
  width: 220px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -110px;
}
#lightbox.absolute {
  position: fixed;
}
#lightbox.share_produto .fechar_modal {
  background-position: 0 -17px !important;
  top: 12px !important;
  right: 10px !important;
}

.fechar_modal {
  width: 13px;
  height: 17px;
  background: url(../img/fechar_modal.png) no-repeat 0 0px;
  right: 16px;
  top: 16px;
  position: absolute;
  z-index: 10;
}

#ligbtox_content {
  background-color: white;
}
#ligbtox_content .content {
  background-color: white;
  margin: 2px;
  padding: 25px 13px;
}

.loading-modal {
  padding: 10px 110px 10px 80px;
  font-size: 1.6em;
  color: #999999;
  border: 1px solid #f7f7f7;
  background-color: black;
  height: 24px;
  line-height: 24px;
  float: left;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -23px 0 0 -155px;
}
.loading-modal img {
  margin-right: 10px;
}

.colunaProduto {
  width: 388px;
  margin-right: 15px;
}
.colunaProduto .thumbs-list li {
  margin-right: 15px;
  width: 94px;
  height: 94px;
  border: 1px solid #e6e5e5;
}

.colunaDados {
  width: 350px;
}
.colunaDados.small {
  width: 194px;
}
.colunaDados .chapeu {
  font-size: 1.5em;
  color: #ce1e06;
  margin-bottom: 7px;
}
.colunaDados .titulo {
  font-size: 2.2em;
  color: #535252;
  margin-bottom: 7px;
}
.colunaDados .descricao {
  color: #2e2e2e;
  font-size: 1.5em;
  width: 275px;
  margin-bottom: 15px;
}
.colunaDados .preco_anterior {
  color: #808182;
  font-size: 1.2em;
  text-decoration: line-through;
  margin-bottom: 10px;
}
.colunaDados .preco_atual {
  margin-bottom: 20px;
}
.colunaDados .preco_atual .por {
  font-size: 1.2em;
  color: #919293;
}
.colunaDados .preco_atual .valor, .colunaDados .preco_atual .cifrao {
  color: #ce1e06;
}
.colunaDados .preco_atual .valor {
  font-size: 2.2em;
}
.colunaDados .preco_atual .cifrao {
  font-size: 1.8em;
}
.colunaDados .qualMarca {
  width: 311px;
  margin: 0 auto 25px;
}
.colunaDados .qualMarca .foot {
  text-align: center;
  color: #7d7b7b;
  font-size: 1em;
  padding-top: 5px;
}
.colunaDados .qualMarca .box {
  background-color: #fcfafa;
  border: 1px solid #e8e8e8;
  padding: 19px 0 16px;
}
.colunaDados .qualMarca .box figure {
  margin-left: 35px;
  margin-right: 19px;
}
.colunaDados .qualMarca .box p {
  color: black;
  text-align: center;
  width: 100px;
  padding-top: 8px;
}
.colunaDados .qualMarca .box p .txt {
  font-size: 1.1em;
}
.colunaDados .qualMarca .box p .tel {
  font-size: 1.4em;
}
.colunaDados .curtidas {
  line-height: 40px;
  font-size: 1.4em;
  color: #4d4d4c;
  text-align: center;
  margin-bottom: 23px;
}
.colunaDados .curtidas span {
  background: url(../img/ico-curtidas.png) no-repeat 0 0;
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
}
.colunaDados .share {
  line-height: 25px;
  font-size: 1.4em;
  text-align: center;
}
.colunaDados .share a {
  background: url(../img/ico-share.png) no-repeat 0 0;
  color: #3c599b;
  padding-left: 40px;
  display: inline-block;
}

#fotoProduto {
  border: 1px solid #f4f4f4;
  background-color: white;
  padding: 5px;
  position: relative;
  margin-bottom: 15px;
}
#fotoProduto .desconto {
  background: url(../img/desconto.png) no-repeat 0 0;
  background-size: 100% 100%;
  font-family: "Trebuchet MS";
  position: absolute;
  z-index: 20;
  width: 56px;
  height: 49px;
  line-height: 49px;
  color: white;
  padding-left: 10px;
  font-size: 2.2em;
  top: 12px;
  left: 2px;
}

#modalEvento .colunaProduto {
  width: 194px;
}
#modalEvento .colunaDados {
  width: 320px;
}

#Splash {
  width: 322px;
  position: absolute;
  z-index: 333;
  left: 50%;
  margin-left: -161px;
  top: 135px;
}
#Splash header {
  text-align: center;
  height: 180px;
  position: relative;
}
#Splash .close-splash {
  background: url(../img/fechar-splash.png) no-repeat 0 0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 88px;
}
#Splash .content {
  background-color: #d51924;
  padding-top: 80px;
  margin-top: -75px;
}
#Splash .content form {
  padding: 0 17px 10px;
}
#Splash .content form > .ui-btn {
  text-indent: -999em;
  padding-top: 5px;
}
#Splash .content .txt {
  text-align: center;
  color: white;
  font-size: 1.3em;
  font-family: "Tahoma";
  margin-bottom: 9px;
}
#Splash .content .campo {
  padding-bottom: 7px;
  position: relative;
}
#Splash .content .campo input, #Splash .content .campo select {
  display: block;
  color: #006642;
  font-size: 1.2em;
  border: none;
  background-color: #fde7da;
  padding: 6px 0 5px 3px;
  border: 1px solid #c81520;
}
#Splash .content .campo input {
  width: 283px;
}
#Splash .content .campo select {
  width: 100%;
}
#Splash .content label {
  display: block;
  font-size: 1.2em;
  color: #fdede1;
  padding: 0 0 6px 4px;
}
#Splash .content input[type='submit'] {
  border: none;
  background: none transparent;
  font-size: 1.4em;
  color: white;
}

#select-6-button > span {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #select-6-button select {
    height: 27px;
  }
}
body {
  font: 62.5% "Tahoma", verdana, tahoma, sans-serif;
}
