.container {
  background-color: #f3f3f3;
  *zoom: 1;
  max-width: 778px;
  max-width: 48.625rem;
  _width: 778px;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  width: 24.42159%;
  float: left;
  margin-right: 0.77121%;
  display: inline;
  margin-bottom: 5px;
}
.grid.last {
  width: 24.42159%;
  float: left;
  margin-right: 0;
  *margin-right: -6px;
  display: inline;
}

.grid2 {
  width: 49.6144%;
  float: left;
  margin-right: 0.77121%;
  display: inline;
  margin-bottom: 5px;
}
.grid2.last {
  width: 49.6144%;
  float: left;
  margin-right: 0;
  *margin-right: -6px;
  display: inline;
}

@media (max-width: 480px) {
  #TutorialMob {
    display: block;
    position: fixed;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #TutorialMob span {
    padding-top: 10px;
    margin: 0px !important;
  }
  #TutorialMob a {
    position: fixed;
    left: 50%;
    margin-left: -50px;
    top: 160px;
  }

  #EscolherShoppingMob {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: url(../img/bg-escolher-shopping.png) repeat;
    background-size: 50% auto;
    overflow: auto;
    padding-bottom: 50px;
  }
  #EscolherShoppingMob .head-escolhershopping {
    background: url(../img/ico-brs-escolher-shopping.png) no-repeat 0 0, url(../img/ico-brs-escolher-shopping.png) no-repeat right 0;
    background-color: #d35044;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
  }
  #EscolherShoppingMob .campo {
    background: #e23436;
    display: block;
    width: 286px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
  }
  #EscolherShoppingMob .campo .tit-campo {
    background: url(../img/ico-tit-escolher-shopping.png) no-repeat 0 0;
    width: 170px;
    margin: 0 auto;
    height: 45px;
    box-sizing: border-box;
    padding-left: 64px;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #EscolherShoppingMob .escolher-shopping {
    background: transparent;
    border: none;
    width: 310px;
    font-size: 1.4em;
    color: #ffffff;
    text-align: center;
    display: block;
  }
  #EscolherShoppingMob .escolher-shopping li {
    line-height: 30px;
  }
  #EscolherShoppingMob .escolher-shopping a {
    color: #ffffff;
  }
  #EscolherShoppingMob figure {
    margin-bottom: 20px;
  }
  #EscolherShoppingMob figure img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }
  #EscolherShoppingMob .foot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    height: 27px;
    background-color: #ffffff;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mob, img.mob {
    display: block;
  }

  img.mob {
    width: 100%;
  }

  .notmob {
    display: none;
  }

  .grid, .grid.last {
    width: 49.2228%;
    float: left;
    margin-right: 1.5544%;
  }
  .grid.lastmob, .grid.last.lastmob {
    width: 49.2228%;
    float: left;
    margin-right: 0;
  }
  .grid .content, .grid.last .content {
    height: 60px;
  }
  .grid .content .descricao, .grid.last .content .descricao {
    font-size: 1.2em;
    letter-spacing: -0.06em;
  }
  .grid.dois-itens-v, .grid.last.dois-itens-v {
    width: 100%;
    float: left;
    margin-right: 0;
  }
  .grid.dois-itens-v .item figure a, .grid.last.dois-itens-v .item figure a {
    overflow: hidden;
  }
  .grid.dois-itens-v .item .content, .grid.last.dois-itens-v .item .content {
    height: auto;
    padding-bottom: 10px;
  }

  .dois-itens-v .item {
    width: 49.2228%;
    float: left;
    margin-right: 1.5544%;
  }
  .dois-itens-v .item.last {
    width: 49.2228%;
    float: left;
    margin-right: 0;
  }
  .dois-itens-v.lasttv .item {
    width: 100%;
    float: left;
    margin-right: 0;
  }

  .grid2, .grid4, .grid2.last {
    width: 100%;
    float: left;
    margin-right: 0;
  }
  .grid2 .item .content .descricao, .grid4 .item .content .descricao, .grid2.last .item .content .descricao {
    width: 100%;
  }
  .grid2 .item .content .marca, .grid4 .item .content .marca, .grid2.last .item .content .marca {
    display: none;
  }

  .grid2 .item .content .marca {
    display: block !important;
  }
  .grid2 .item .content .descricao {
    padding-right: 140px;
    width: auto !important;
  }

  .fechar_modal {
    top: -10px;
    right: -6px;
  }

  #ligbtox_content .content {
    padding: 10px;
  }

  .colunaProduto, .colunaDados {
    width: 100%;
    float: none;
    clear: both;
  }
  .colunaProduto .thumbs-list, .colunaDados .thumbs-list {
    display: none;
  }

  #lightbox .lightbox {
    top: 20px;
    left: 10px !important;
    right: 10px !important;
    margin: 0 !important;
    width: auto !important;
    padding-bottom: 20px;
  }
  #lightbox.share_produto .fechar_modal {
    width: 13px;
    height: 17px;
    background: url(../img/fechar_modal.png) no-repeat 0 0px;
    position: absolute;
    z-index: 10;
  }

  #fotoProduto {
    margin-bottom: 0px;
  }
  #fotoProduto img {
    width: 100%;
  }

  .colunaDados .preco_anterior {
    float: left;
    padding: 10px 15px 0 0;
  }
  .colunaDados .preco_atual {
    float: left;
  }
  .colunaDados .qualMarca {
    width: 100%;
  }
  .colunaDados .qualMarca .foot {
    margin: 0 65px;
  }
  .colunaDados .curtidas {
    line-height: 16px;
    float: left;
    width: 45%;
    text-align: center;
    padding: 0 2%;
  }
  .colunaDados .curtidas.ativo span {
    padding-left: 0 !important;
  }
  .colunaDados .curtidas span {
    display: block;
    background-position: top center;
    padding-top: 40px;
    padding-left: 0;
  }
  .colunaDados .share {
    line-height: 16px;
    float: left;
    width: 45%;
    text-align: center;
    padding: 0 2%;
  }
  .colunaDados .share a {
    display: block;
    background-position: top center;
    padding-top: 40px;
    padding-left: 0;
  }

  #ShareProduto .content-share {
    padding-left: 8px;
    padding-right: 8px;
  }
  #ShareProduto .content-share .col-produto {
    width: auto !important;
    float: none;
    margin-bottom: 10px;
    clear: both;
    padding-bottom: 0px;
  }
  #ShareProduto .content-share .col-produto footer {
    padding-bottom: 10px;
  }
  #ShareProduto .content-share .col-produto .bt-reset {
    font-size: 1em;
    margin-left: 0px;
    padding: 0 10px;
  }
  #ShareProduto .content-share .col-produto .bt-share {
    font-size: 1.1em;
    margin-right: 0px;
  }
  #ShareProduto .content-share .col-opcoes {
    width: auto !important;
    float: none;
    clear: both;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes {
    padding-right: 0px;
    border-right: 1px solid #d2daea;
    overflow: auto;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul {
    overflow: auto !important;
    height: 115px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li {
    margin-bottom: 0px;
    width: 92px;
    height: 91px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li a {
    width: 90px;
    height: 89px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li img {
    width: 100%;
  }

  #foto-share {
    width: auto !important;
    height: auto !important;
    overflow: hidden;
    padding: 4px;
  }
  #foto-share div {
    position: relative;
  }
  #foto-share .prod {
    float: left;
  }
  #foto-share .sec {
    width: 100%;
    display: block;
    top: 0px;
    left: 0px;
  }

  #menu-shoppings {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 728px) {
  .item .content .marca {
    display: none;
  }

  .grid .item .content .descricao {
    font-size: 1.1em;
  }

  .dois-itens-v .vertical .content {
    height: 53px;
  }
}
@media (max-width: 728px) {
  #Splash {
    display: none;
  }

  .container {
    padding-top: 90px;
  }

  #Header {
    position: fixed;
    max-height: 60px;
    min-height: 32px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 50;
  }
  #Header .chamada {
    background-color: #d51924;
    height: 34px;
    clear: both;
    text-align: center;
  }
  #Header .chamada a {
    font-size: 1.6em;
    font-family: "Roboto";
    color: #ffffff;
    display: block;
    line-height: 34px;
  }
  #Header .head-mob {
    background: url(../img/bg-head-mob.png) repeat-x 0 0;
    background-size: auto 100%;
    height: 60px;
    position: relative;
    min-width: 100%;
  }
  #Header .head-mob img {
    display: block;
    margin: 0 auto;
    max-width: 65%;
  }
  #Header .head-mob .ico-brs {
    background: url(../img/ico-brs.png) no-repeat 0 0;
    background-size: 100% 100% !important;
    width: 52px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 11px;
    z-index: 9999;
  }

  #ico-menu {
    background: url(../img/ico-menu-mob.png) no-repeat 0 0;
    background-size: 100% 100% !important;
    display: block;
    width: 52px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 11px;
    z-index: 9999;
  }

  #Menu {
    background: #cb1d24;
    height: auto;
    position: fixed;
    top: 0;
    left: -275px;
    bottom: 0;
    width: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
  }
  #Menu .navegacao {
    float: none;
    padding-left: 0px;
  }
  #Menu .navegacao header {
    display: block;
    height: 33px;
    font-family: "Tahoma";
    font-size: 1.2em;
  }
  #Menu .navegacao header .user {
    line-height: 33px;
    height: 33px;
    margin-left: 9px;
    padding-left: 27px;
    position: relative;
    color: #ffffff;
  }
  #Menu .navegacao header .user img {
    position: absolute;
    border: 1px solid #344978;
    border-bottom: none;
    left: 0;
    top: 7px;
    max-width: 19px;
  }
  #Menu .navegacao header .sair {
    line-height: 33px;
    height: 33px;
    margin-right: 9px;
    color: #570a0d;
  }
  #Menu .navegacao .splash-menu {
    display: none;
  }
  #Menu .navegacao .item-menu {
    height: auto;
    float: none;
    margin-bottom: 5px;
  }
  #Menu .navegacao .item-menu .lnk {
    height: 23px;
    line-height: 23px;
    background-color: #bb1f26;
    background-position: right -54px;
    color: #feefe3;
    font-size: 1.3em;
  }
  #Menu .navegacao .item-menu .lnk.ativo {
    background-position: right -74px;
  }
  #Menu .navegacao .item-menu.dia-namorados {
    display: none;
  }
  #Menu .navegacao .item-menu .submenu {
    display: none;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    border: none;
  }
  #Menu .navegacao .item-menu .submenu li {
    width: 135px;
    height: 20px;
    border: none !important;
    font-size: 1.2em;
  }
  #Menu .navegacao .item-menu .submenu li.mid, #Menu .navegacao .item-menu .submenu li.last {
    border: none !important;
  }
  #Menu .navegacao .item-menu .submenu li.cl {
    width: 100% !important;
  }
  #Menu .navegacao .item-menu .submenu li a {
    color: #ffffff;
    line-height: 20px;
    padding-left: 10px;
  }
  #Menu .navegacao .item-menu .submenu li a:hover {
    color: #ffffff;
  }
  #Menu .navegacao .item-menu:hover .lnk {
    background-color: #bb1f26;
    background-position: right -54px;
    color: #feefe3;
    border: none;
    margin: 0px;
  }
  #Menu .navegacao .item-menu:hover .lnk.ativo {
    background-position: right -74px;
  }
  #Menu .navegacao .item-menu:hover .submenu {
    display: none;
  }
  #Menu .navegacao .item-menu.last .submenu {
    left: 0;
    margin-left: 0px;
  }

  #TutorialMob span.fl {
    margin-left: 60px;
  }
  #TutorialMob span.fr {
    margin-right: 60px;
  }
}
@media (min-width: 820px) and (max-width: 9999999px) {
  #TutorialMob span.fl {
    margin-left: 60px;
  }
  #TutorialMob span.fr {
    margin-right: 60px;
  }

  #TabletSmart .container {
    padding-top: 150px !important;
  }
  #TabletSmart #ico-menu {
    width: 104px !important;
    height: 70px !important;
    background-size: 100% 100% !important;
  }
  #TabletSmart #Header .head-mob .ico-brs {
    width: 104px !important;
    height: 70px !important;
  }

  #Header {
    margin-right: 0.2599%;
  }
  #Header .head-mob {
    background-repeat: repeat !important;
    height: 110px !important;
  }
  #Header .head-mob img {
    max-width: 100%;
  }

  br.cl {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .item .content {
    min-height: 10px;
  }

  .grid, .grid.last, .grid2, .grid2.last {
    width: 24.71191%;
    float: left;
    margin-right: 0.38412%;
    margin-right: 0.2599%;
  }
  .grid.lasttv, .grid.last.lasttv, .grid2.lasttv, .grid2.last.lasttv {
    width: 24.71191%;
    float: left;
    margin-right: 0.38412%;
    margin-right: 0.2599%;
  }
  .grid.dois-itens-v, .grid.last.dois-itens-v, .grid2.dois-itens-v, .grid2.last.dois-itens-v {
    display: inline;
    float: none;
    margin: 0px;
  }
  
  .grid.dois-itens-v .item, .grid.last.dois-itens-v .item, .grid2.dois-itens-v .item, .grid2.last.dois-itens-v .item {
    width: 24.71191%;
    float: left;
    margin-right: 0.38412%;
    margin-right: 0.2599%;
    margin-bottom: 1px;
  }
  .grid .item figure, .grid.last .item figure, .grid2 .item figure, .grid2.last .item figure {
    margin-bottom: 0px;
  }
  .grid .item .content, .grid.last .item .content, .grid2 .item .content, .grid2.last .item .content {
    height: 42px;
    margin: 0 5px;
    min-height: auto !important;
  }
  .grid .item .content .titulo, .grid .item .content .marca, .grid .item .content .outro, .grid.last .item .content .titulo, .grid.last .item .content .marca, .grid.last .item .content .outro, .grid2 .item .content .titulo, .grid2 .item .content .marca, .grid2 .item .content .outro, .grid2.last .item .content .titulo, .grid2.last .item .content .marca, .grid2.last .item .content .outro {
    display: none;
  }
  .grid .item .content .descricao, .grid.last .item .content .descricao, .grid2 .item .content .descricao, .grid2.last .item .content .descricao {
    height: auto;
    width: auto;
    font-size: 1.3em;
    line-height: normal;
  }
  .grid .item.vertical, .grid.last .item.vertical, .grid2 .item.vertical, .grid2.last .item.vertical {
    display: none;
  }
  .showBigres {
    display: block;
  }
  .showBigres .grid .item.vertical, .showBigres .grid.last .item.vertical, .showBigres .grid2 .item.vertical, .showBigres .grid2.last .item.vertical {
    display: block;
    width: 100%;
  } 

  .showBigres .grid.dois-itens-v, .showBigres .grid.last.dois-itens-v, .showBigres .grid2.dois-itens-v, .showBigres .grid2.last.dois-itens-v {
    float: left;
    margin-right: 0.38412%;
    margin-right: 0.2599%;
  }

  #TabletSmart .container.showBigres {
    padding-top: 0px !important;
    margin-top: -25px !important;
    padding-bottom: 50px !important
  }

  body, html {
    min-width: 990px;
  }
}
