.container {
  background-color: #f3f3f3;
  *zoom: 1;
  max-width: 778px;
  _width: 778px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  width: 24.42159%;
  float: left;
  margin-right: 0.77121%;
  display: inline;
  margin-bottom: 5px;
}
.grid.last {
  width: 24.42159%;
  float: left;
  margin-right: 0;
  *margin-right: -6px;
  display: inline;
}

.grid2 {
  width: 49.6144%;
  float: left;
  margin-right: 0.77121%;
  display: inline;
  margin-bottom: 5px;
}
.grid2.last {
  width: 49.6144%;
  float: left;
  margin-right: 0;
  *margin-right: -6px;
  display: inline;
}

@media (max-width: 480px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mob, img.mob {
    display: block;
  }

  img.mob {
    width: 100%;
  }

  .notmob {
    display: none;
  }

  .grid, .grid.last {
    width: 49.2228%;
    float: left;
    margin-right: 1.5544%;
  }
  .grid.lastmob, .grid.last.lastmob {
    width: 49.2228%;
    float: left;
    margin-right: 0;
  }
  .grid .content, .grid.last .content {
    height: 60px;
  }
  .grid .content .descricao, .grid.last .content .descricao {
    font-size: 1.2em;
    letter-spacing: -0.06em;
  }
  .grid.dois-itens-v, .grid.last.dois-itens-v {
    display: none;
    width: 100%;
    float: left;
    margin-right: 0;
  }
  .grid.dois-itens-v .item .content, .grid.last.dois-itens-v .item .content {
    height: auto;
    padding-bottom: 10px;
  }

  .grid2, .grid4, .grid2.last {
    width: 100%;
    float: left;
    margin-right: 0;
  }
  .grid2 .item .content .descricao, .grid4 .item .content .descricao, .grid2.last .item .content .descricao {
    width: 100%;
  }
  .grid2 .item .content .marca, .grid4 .item .content .marca, .grid2.last .item .content .marca {
    display: none;
  }

  .fechar_modal {
    background-image: url(../img/fechar-modal-mobile.png);
    width: 9px;
    height: 8px;
    top: 4px;
    right: 5px;
  }

  #ligbtox_content .content {
    padding: 10px;
  }

  .colunaProduto, .colunaDados {
    width: 100%;
    float: none;
    clear: both;
  }
  .colunaProduto .thumbs-list, .colunaDados .thumbs-list {
    display: none;
  }

  #lightbox .lightbox {
    top: 20px;
    left: 10px !important;
    right: 10px !important;
    margin: 0 !important;
    width: auto !important;
    padding-bottom: 20px;
  }
  #lightbox.share_produto .fechar_modal {
    background-position: 0 -8px !important;
    top: 16px !important;
    right: 10px !important;
  }

  #fotoProduto {
    margin-bottom: 0px;
  }
  #fotoProduto img {
    width: 100%;
  }

  .colunaDados .preco_anterior {
    float: left;
    padding: 10px 15px 0 0;
  }
  .colunaDados .preco_atual {
    float: left;
  }
  .colunaDados .qualMarca {
    width: 100%;
  }
  .colunaDados .curtidas {
    line-height: 16px;
    float: left;
    width: 45%;
    text-align: center;
    padding: 0 2%;
  }
  .colunaDados .curtidas span {
    display: block;
    background-position: top center;
    padding-top: 40px;
    padding-left: 0;
  }
  .colunaDados .share {
    line-height: 16px;
    float: left;
    width: 45%;
    text-align: center;
    padding: 0 2%;
  }
  .colunaDados .share a {
    display: block;
    background-position: top center;
    padding-top: 40px;
    padding-left: 0;
  }

  #ShareProduto .content-share {
    padding-left: 8px;
    padding-right: 8px;
  }
  #ShareProduto .content-share .col-produto {
    width: auto !important;
    float: none;
    margin-bottom: 10px;
    clear: both;
    padding-bottom: 0px;
  }
  #ShareProduto .content-share .col-produto footer {
    padding-bottom: 10px;
  }
  #ShareProduto .content-share .col-produto .bt-reset {
    font-size: 1em;
    margin-left: 0px;
  }
  #ShareProduto .content-share .col-produto .bt-share {
    font-size: 1.1em;
    margin-right: 0px;
  }
  #ShareProduto .content-share .col-opcoes {
    width: auto !important;
    float: none;
    clear: both;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes {
    padding-right: 0px;
    border-right: 1px solid #d2daea;
    overflow: auto;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul {
    overflow: auto !important;
    height: 115px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li {
    margin-bottom: 0px;
    width: 92px;
    height: 91px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li a {
    width: 90px;
    height: 89px;
  }
  #ShareProduto .content-share .col-opcoes .content-opcoes ul li img {
    width: 100%;
  }

  #foto-share {
    width: auto !important;
    height: auto !important;
    overflow: hidden;
    padding: 4px;
  }
  #foto-share div {
    position: relative;
  }
  #foto-share .prod {
    float: left;
  }
  #foto-share .sec {
    width: 100%;
    display: block;
    top: 0px;
    left: 0px;
  }

  #menu-shoppings {
    display: block;
    position: fixed;
    top: 0;
    right: -276px;
    bottom: 0px;
    width: 276px;
    background-color: #d21e26;
    z-index: 60;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #menu-shoppings header {
    background: #cb1d24 url(../img/ico-brs-branco.png) no-repeat 0 0;
    height: 33px;
    line-height: 29px;
    color: white;
    font-size: 1.4em;
    padding-left: 38px;
  }
  #menu-shoppings .content-mn {
    padding: 0 13px;
  }
  #menu-shoppings .content-mn li {
    height: 33px;
    font-size: 1.2em;
  }
  #menu-shoppings .content-mn li a {
    line-height: 33px;
    color: white;
  }
}
@media (min-width: 481px) and (max-width: 728px) {
  .item .content .marca {
    display: none;
  }

  .grid .item .content .descricao {
    font-size: 1.1em;
  }

  .dois-itens-v .vertical .content {
    height: 53px;
  }
}
@media (max-width: 728px) {
  #Splash {
    display: none;
  }

  .container {
    padding-top: 70px;
  }

  #Header {
    position: fixed;
    max-height: 47px;
    min-height: 32px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 50;
  }
  #Header .chamada {
    background-color: #d51924;
    height: 27px;
    clear: both;
    text-align: center;
  }
  #Header .chamada a {
    font-size: 1.3em;
    font-family: "Roboto";
    color: white;
    display: block;
    line-height: 27px;
  }
  #Header .head-mob {
    background: url(../img/bg-head-mob.png) repeat-x 0 0;
    height: 33px;
    position: relative;
    min-width: 100%;
  }
  #Header .head-mob img {
    display: block;
    margin: 0 auto;
  }
  #Header .head-mob .ico-brs {
    background: url(../img/ico-brs.png) no-repeat 0 0;
    width: 43px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
  }

  #ico-menu {
    background: url(../img/ico-menu-mob.png) no-repeat 0 0;
    display: block;
    width: 41px;
    height: 33px;
    position: absolute;
    left: 0;
    top: 0;
  }

  #Menu {
    background: #cb1d24;
    height: auto;
    position: fixed;
    top: 0;
    left: -275px;
    bottom: 0;
    width: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
  }
  #Menu .navegacao {
    float: none;
    padding-left: 0px;
  }
  #Menu .navegacao header {
    display: block;
    height: 33px;
    font-family: "Tahoma";
    font-size: 1.2em;
  }
  #Menu .navegacao header .user {
    line-height: 33px;
    height: 33px;
    margin-left: 9px;
    padding-left: 27px;
    position: relative;
    color: white;
  }
  #Menu .navegacao header .user img {
    position: absolute;
    border: 1px solid #344978;
    border-bottom: none;
    left: 0;
    top: 7px;
    max-width: 19px;
  }
  #Menu .navegacao header .sair {
    line-height: 33px;
    height: 33px;
    margin-right: 9px;
    color: #570a0d;
  }
  #Menu .navegacao .splash-menu {
    display: none;
  }
  #Menu .navegacao .item-menu {
    height: auto;
    float: none;
    margin-bottom: 5px;
  }
  #Menu .navegacao .item-menu .lnk {
    height: 23px;
    line-height: 23px;
    background-color: #bb1f26;
    background-position: right -54px;
    color: #feefe3;
    font-size: 1.3em;
  }
  #Menu .navegacao .item-menu .lnk.ativo {
    background-position: right -74px;
  }
  #Menu .navegacao .item-menu.dia-namorados {
    display: none;
  }
  #Menu .navegacao .item-menu .submenu {
    display: none;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    border: none;
  }
  #Menu .navegacao .item-menu .submenu li {
    width: 135px;
    height: 20px;
    border: none !important;
    font-size: 1.2em;
  }
  #Menu .navegacao .item-menu .submenu li.mid, #Menu .navegacao .item-menu .submenu li.last {
    border: none !important;
  }
  #Menu .navegacao .item-menu .submenu li.cl {
    width: 100% !important;
  }
  #Menu .navegacao .item-menu .submenu li a {
    color: white;
    line-height: 20px;
    padding-left: 10px;
  }
  #Menu .navegacao .item-menu .submenu li a:hover {
    color: white;
  }
  #Menu .navegacao .item-menu:hover .lnk {
    background-color: #bb1f26;
    background-position: right -54px;
    color: #feefe3;
    border: none;
    margin: 0px;
  }
  #Menu .navegacao .item-menu:hover .lnk.ativo {
    background-position: right -74px;
  }
  #Menu .navegacao .item-menu:hover .submenu {
    display: none;
  }
  #Menu .navegacao .item-menu.last .submenu {
    left: 0;
    margin-left: 0px;
  }
}
@media (min-width: 801px) and (max-width: 9999999px) {
  br.cl {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .grid, .grid.last, .grid2, .grid2.last {
    width: 24.71191%;
    float: left;
    margin-right: 0.38412%;
  }
  .grid.lasttv, .grid.last.lasttv, .grid2.lasttv, .grid2.last.lasttv {
    width: 24.71191%;
    float: left;
    margin-right: 0;
  }
  .grid.dois-itens-v, .grid.last.dois-itens-v, .grid2.dois-itens-v, .grid2.last.dois-itens-v {
    display: none;
  }
  .grid .item figure, .grid.last .item figure, .grid2 .item figure, .grid2.last .item figure {
    margin-bottom: 0px;
  }
  .grid .item .content, .grid.last .item .content, .grid2 .item .content, .grid2.last .item .content {
    height: 42px;
    margin: 0 5px;
  }
  .grid .item .content .titulo, .grid .item .content .marca, .grid .item .content .outro, .grid.last .item .content .titulo, .grid.last .item .content .marca, .grid.last .item .content .outro, .grid2 .item .content .titulo, .grid2 .item .content .marca, .grid2 .item .content .outro, .grid2.last .item .content .titulo, .grid2.last .item .content .marca, .grid2.last .item .content .outro {
    display: none;
  }
  .grid .item .content .descricao, .grid.last .item .content .descricao, .grid2 .item .content .descricao, .grid2.last .item .content .descricao {
    height: auto;
    width: auto;
    font-size: 1.3em;
    line-height: normal;
  }

  body, html {
    min-width: 990px;
  }
}
