{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row-fluid dashboard-tools">
    <div class="span0 hidden-phone" id="blank">&nbsp;</div>
    <div class="span9 app-list">
        <div>
            <h2>Relatórios por shopping</h2>
        </div>
    </div>
    {% for s in shoppings %}
    <div class="span5 app-list">
        <table summary="Lista de shoppings" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td class="model-name">
                        <h4><a href="{% url 'relatorios' s.id %}">{{ s.nome }}</a></h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'lojas_mais_vistas' s.id %}">Lojas mais visualizadas</a></td>
                    <td><a href="{% url 'lojas_mais_vistas' s.id %}" class="btn btn-primary pull-right">Acessar</a></td>
                </tr>
                <tr>
                    <td><a href="">Lojas mais solicitadas</a></td>
                    <td><a href="{% url 'relatorios' s.id %}" class="btn btn-primary pull-right">Acessar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% empty %}
        <p>Sem shoppings disponíves para listar.</p>
    {% endfor %}
</div>

{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        swap_containers = function(container){
            container = $(container);
            container.remove();

            $('.dashboard-tools').append(container.prop('outerHTML'));
        }

        swap_if_necessary = function(){
            width = Math.max( $(window).innerWidth(), window.innerWidth)
            if(width < '767' && $('.recent-actions').isAfter('.app-list')){
                swap_containers('.recent-actions');
            }
            else if(width > '767' && $('.recent-actions').isBefore('.app-list')){
                swap_containers('.app-list');
            }
        }

        $(window).resize(swap_if_necessary);
        $(document).ready(swap_if_necessary);
    })(django.jQuery);
    </script>
{% endblock js_footer %}