{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}

<div class="container-fluid">
        <div class="row-fluid dashboard-tools">
        <div class="span0 hidden-phone" id="blank">&nbsp;</div>
        <div class="span9">
            <div>
                <h2>{{ nome_shopping }} - {{ tipo }}s mais {%if modalidade%}{{modalidade}}{%else%}vistas{%endif%}</h2>
           </div>
        </div>
        {% include 'relatorios/form_filtro.html' %}
        <div class="span9">
            <a href="{% url 'relatorios_index' %}"><< Voltar ao índice de relatórios</a>
            <hr />
        </div>
        {% if inicio and fim %}
        <div class="span6">
            <div>
                <h3>Lista filtrada entre {{ inicio }} e {{ fim }} - {{ total_filtradas }} itens</h3>
                <a href="">Limpar consulta</a><hr />
            </div>
            <table summary="Lista de shoppings" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td><h4>{{ tipo|title }}</h4></td><td>Número de {%if modalidade%}{{modalidade}}{%else%}visualizações{%endif%}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in filtradas %}
                    <tr>
                        {% include 'relatorios/mais_vistas_detalhe.html' %}
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">Sem itens no período</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="span3">
            <div>
                <h3>Lista geral</h3>
            </div>
            <table summary="Lista de shoppings" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td><h4>{{ tipo|title }}</h4></td><td>Número de {%if modalidade%}{{modalidade}}{%else%}visualizações{%endif%}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">Total: {{ total_vistas }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in mais_vistas %}
                    <tr>
                        {% include 'relatorios/mais_vistas_detalhe.html' %}
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">Sem itens no período</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span3">
            <div>
                <h3>Últimos 30 dias</h3>
            </div>
            <table summary="Lista de shoppings" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td><h4>{{ tipo|title }}</h4></td><td>Número de {%if modalidade%}{{modalidade}}{%else%}visualizações{%endif%}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">Total: {{ total_mes }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in mais_do_mes %}
                    <tr>
                        {% include 'relatorios/mais_vistas_detalhe.html' %}
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">Sem itens no período</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span3">
            <div>
                <h3>Últimos 7 dias</h3>
            </div>
            <table summary="Lista de shoppings" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td><h4>{{ tipo|title }}</h4></td><td>Número de {%if modalidade%}{{modalidade}}{%else%}visualizações{%endif%}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">Total: {{ total_semana }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in mais_da_semana %}
                    <tr>
                        {% include 'relatorios/mais_vistas_detalhe.html' %}
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">Sem itens no período</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
</div>

{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
    (function ($) {
        swap_containers = function(container){
            container = $(container);
            container.remove();

            $('.dashboard-tools').append(container.prop('outerHTML'));
        }

        swap_if_necessary = function(){
            width = Math.max( $(window).innerWidth(), window.innerWidth)
            if(width < '767' && $('.recent-actions').isAfter('.app-list')){
                swap_containers('.recent-actions');
            }
            else if(width > '767' && $('.recent-actions').isBefore('.app-list')){
                swap_containers('.app-list');
            }
        }

        $(window).resize(swap_if_necessary);
        $(document).ready(swap_if_necessary);
    })(django.jQuery);
    </script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/core.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/actions.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="https://llv.liquidacaolapisvermelho.com.br/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock js_footer %}