{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

<!-- coluna com dois itens verticais -->
{% if not sem_destaque %}
<div class="grid dois-itens-v">
	{% if ofertas.4 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.4 %}
	{% endif %}
	{% if ofertas.5 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.5 last_div=True %}
	{% endif %}
</div>
{% else %}
<div class="grid dois-itens-v">
	{% if ofertas.0 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.0 %}
	{% endif %}
	{% if ofertas.1 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.1 last_div=True %}
	{% endif %}
</div>
{% endif %}

{% include 'blocos/evento.html' with lasttv=True %}

{% if not sem_destaque %}
{% for oferta in ofertas|slice:"6:10" %}
	<div class="grid {% cycle '' 'last lastmob' 'lasttv' 'last lastmob' %}">
		<article class="item">
			<span class="desconto">{{ oferta.desconto }}</span>
			<figure>
				<a href="" title="">
					<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
				</a>
			</figure>

			<section class="content">
				<p class="descricao">{{ oferta.chamada_promocional|truncatechars:75 }}</p>
			</section>

			<footer>
				<a class="like fl" href="" title="">189</a>
				<a class="share fr" href="">Compartilhar</a>
			</footer>
		</article><!-- .item -->
	</div>
{% endfor %}
{% else %}
{% for oferta in ofertas|slice:"2:6" %}
	<div class="grid {% cycle '' 'last lastmob' 'lasttv' 'last lastmob' %}">
		<article class="item">
			<span class="desconto">{{ oferta.desconto }}</span>
			<figure>
				<a href="" title="">
					<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
				</a>
			</figure>

			<section class="content">
				<p class="descricao">{{ oferta.chamada_promocional|truncatechars:75 }}</p>
			</section>

			<footer>
				<a class="like fl" href="" title="">189</a>
				<a class="share fr" href="">Compartilhar</a>
			</footer>
		</article><!-- .item -->
	</div>
{% endfor %}
{% endif %}

{% if not sem_destaque %}
<!-- seria o so_ofertas abaixo mas nao precisou -->
{% for oferta in ofertas|slice:"10:" %}
	<div class="grid {% cycle '' '' '' 'last lastmob' %}">
		<article class="item">
			<span class="desconto">{{ oferta.desconto }}</span>
			<figure>
				<a href="" title="">
					<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
				</a>
			</figure>

			<section class="content">
				<p class="descricao">{{ oferta.chamada_promocional|truncatechars:75 }}</p>
			</section>

			<footer>
				<a class="like fl" href="" title="">189</a>
				<a class="share fr" href="">Compartilhar</a>
			</footer>
		</article><!-- .item -->
	</div>
{% endfor %}
{% endif %}