{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->
<div class="grid dois-itens-v">
		{% if ofertas.6 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.6 %}
		{% endif %}
		{% if ofertas.9 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.9 last_div=True %}
		{% endif %}
</div>

<div class="grid dois-itens-v">
		{% if ofertas.7 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.7 %}
		{% endif %}
		{% if ofertas.10 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.10 last_div=True %}
		{% endif %}
</div>

<div class="grid dois-itens-v">
		{% if ofertas.8 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.8 %}
		{% endif %}
		{% if ofertas.11 %}
		{% include 'blocos/oferta_vertical.html' with oferta=ofertas.11 last_div=True %}
		{% endif %}
</div>
{% include 'blocos/evento.html' with last_div=True lasttv=True %}

{% if not sem_destaque %}
<!-- 3 s/ d -->
<br class="cl">
{% for oferta in ofertas|slice:"12:" %}
	<div class="grid {% cycle '' '' '' 'last lastmob' %}">
		<article class="item">
			<span class="desconto">{{ oferta.desconto }}</span>
			<figure>
				<a href="" title="">
					<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
				</a>
			</figure>

			<section class="content">
				<p class="descricao">{{ oferta.chamada_promocional|truncatechars:75 }}</p>
			</section>

			<footer>
				<a class="like fl" href="" title="">189</a>
				<a class="share fr" href="">Compartilhar</a>
			</footer>
		</article><!-- .item -->
	</div>
{% endfor %}
{% endif %}
