{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

<!-- coluna com dois itens verticais -->
{% if not sem_destaque %}
<div class="grid dois-itens-v">
	{% if ofertas.4 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.4 %}
	{% endif %}
	{% if ofertas.5 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.5 last_div=True %}
	{% endif %}
</div>
{% else %}
<div class="grid dois-itens-v">
	{% if ofertas.0 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.0 %}
	{% endif %}
	{% if ofertas.1 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.1 last_div=True %}
	{% endif %}
</div>
{% endif %}

{% include 'blocos/evento.html' with lasttv=True %}

{% if not sem_destaque %}
{% for oferta in ofertas|slice:"6:10" %}
	<div class="grid {% cycle '' 'last lastmob' 'lasttv' 'last lastmob' %}">
		<article class="item">
			{% include "blocos/oferta_miolo.html" %}
		</article><!-- .item -->
	</div>
{% endfor %}
{% else %}
{% for oferta in ofertas|slice:"2:6" %}
	<div class="grid {% cycle '' 'last lastmob' 'lasttv' 'last lastmob' %}">
		<article class="item">
			{% include "blocos/oferta_miolo.html" %}
		</article><!-- .item -->
	</div>
{% endfor %}
{% endif %}

