{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

<!-- coluna com dois itens verticais -->
<div class="grid dois-itens-v">
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.4 %}

	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.6 last_div=True %}
</div>

<!-- coluna com dois itens verticais -->
<div class="grid dois-itens-v">
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.5 %}

	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.7 last_div=True %}
</div>

{% include 'blocos/destaque.html' with last_div=True lastmob=True lasttv=True %}
