{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

<!-- coluna com dois itens verticais -->
<div class="grid dois-itens-v">
	<article class="item">
		<span class="desconto">60</span>
		<figure>
			<a href="" title="">
				<img src="{% static 'img/item.jpg' %}" alt="">
			</a>
		</figure>

		<section class="content">
			<p class="descricao">Devore um prato e ganhe 30% de
			desconto no hambúrguer.</p>
		</section>

		<footer>
			<a class="like fl" href="" title="">189</a>
			<a class="share fr" href="">Compartilhar</a>
		</footer>
	</article><!-- .item -->

	<article class="item last">
		<span class="desconto">60</span>
		<figure>
			<a href="" title="">
				<img src="{% static 'img/item.jpg' %}" alt="">
			</a>
		</figure>

		<section class="content">
			<p class="descricao">Devore um prato e ganhe 30% de
			desconto no hambúrguer.</p>
		</section>

		<footer>
			<a class="like fl" href="" title="">189</a>
			<a class="share fr" href="">Compartilhar</a>
		</footer>
	</article><!-- .item -->
</div>

{% include 'blocos/evento.html' %}

{% include 'blocos/destaque.html' with last_div=True lastmob=True lasttv=True %}
