{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

{% include 'blocos/evento.html' with lasttv=True %}

{% if ultimo %}
	{% include 'blocos/oferta.html' with oferta=ofertas.8 %}

	{% include 'blocos/oferta.html' with oferta=ofertas.9 lastmob=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.10 last_div=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.11 lastmob=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.12 %}

	{% include 'blocos/oferta.html' with oferta=ofertas.13 last_div=True lastmob=True %}
{% elif sem_destaque %}
	{% include 'blocos/oferta.html' with oferta=ofertas.12 %}
	{% include 'blocos/oferta.html' with oferta=ofertas.13 lastmob=True %}
	{% include 'blocos/oferta.html' with oferta=ofertas.14 last_div=True %}
	{% include 'blocos/oferta.html' with oferta=ofertas.15 lastmob=True %}
	{% include 'blocos/oferta.html' with oferta=ofertas.16 %}
	{% include 'blocos/oferta.html' with oferta=ofertas.17 last_div=True lastmob=True %}
	<br class="cl">
	{% for oferta in ofertas|slice:"18:" %}
		<div class="grid {% cycle '' 'lastmob' 'lasttv' 'last lastmob' %}">
			<article class="item">
				{% include "blocos/oferta_miolo.html" %}
			</article><!-- .item -->
		</div>
	{% endfor %}
{% else %}
	{% include 'blocos/oferta.html' with oferta=ofertas.15 %}

	{% include 'blocos/oferta.html' with oferta=ofertas.16 lastmob=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.17 last_div=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.18 lastmob=True %}

	{% include 'blocos/oferta.html' with oferta=ofertas.19 %}

	{% include 'blocos/oferta.html' with oferta=ofertas.20 last_div=True lastmob=True %}
{% endif %}

