{% load staticfiles %}
<!-- =========================================== -->
<br class="cl">
<!-- =========================================== -->

{% include 'blocos/destaque.html' %}

<div class="grid dois-itens-v">
	{% if ofertas.6 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.6 %}
	{% endif %}

	{% if ofertas.7 %}
	{% include 'blocos/oferta_vertical.html' with oferta=ofertas.7 last_div=True %}
	{% endif %}
</div>

{% include 'blocos/evento.html' with last_div=True lasttv=True %}
