<div class="grid2{% if last_div %} last{%endif%}{%if lastmob%} lastmob{%endif%}{%if lasttv%} lasttv{%endif%}">
	<article class="item">
		<span class="desconto">{{ destaque.desconto }}</span>
		<figure>
			<a href="javascript:;" title="{{destaque.loja.nome}}" data-href="{% url 'modal' 'destaque' destaque.id %}" rel="modal" data-param=786>
				<img src="{{ destaque.imagem }}" alt="{{ destaque.loja.nome }} - {{ destaque.desconto }}% off">
			</a>
		</figure>

		<section class="content">
			{% if destaque.loja.logo %}
			<span class="marca"><img src="{{ destaque.loja.logo }}" alt='{{ destaque.loja.nome }}'></span>
			{% endif %}
			<h2 class="titulo">{{ destaque.loja.nome }}</h2>
			<p class="descricao">{{ destaque.chamada_promocional }}</p>
			{% if destaque.texto_do_link %}
				<p class="outro"><a href="">{{ destaque.texto_do_link }}</a></p>
			{% else %}
				<p class="outro">
					<span class="valor1">de: R$ {{ destaque.preco_inicial }} por</span>
					<span class="valor2"><span>R$</span> <strong>{{ destaque.preco_final }}</strong></span>
				</p>
			{% endif %}
		</section>

		<footer>
			<a class="like fl" href="javascript:;" title="Curtir" data-id="{{ destaque.id}}">{{ destaque.curtidas }}</a>
			<a class="share fr" href="javascript:;" rel="modal" data-href="{% url 'modal_share' destaque.id %}" data-param=786>
		</footer>
	</article><!-- .item -->
</div>