<div class="grid dois-itens-v{% if last_div %} last{%endif%}{%if lastmob%} lastmob{%endif%}{%if lasttv%} lasttv{%endif%}">
	<article class="item vertical">
		<span class="desconto">{{ evento.desconto }}</span>
		<figure>
			<a href="" title="">
				<img src="{{ evento.imagem }}" alt="{{ evento.descricao }}">
			</a>
		</figure>

		<section class="content">
			<p class="descricao">{{ evento.descricao|truncatechars:75 }}</p>
		</section>

		<footer>
			<a class="like fl" href="" title="">189</a>
			<a class="share fr" href="">Compartilhar</a>
		</footer>
	</article><!-- .item -->

</div>