<div class="grid dois-itens-v{% if last_div %} last{%endif%}{%if lastmob%} lastmob{%endif%}{%if lasttv%} lasttv{%endif%}">
	<article class="item vertical">
		<span class="desconto">{{ evento.desconto }}</span>
		<figure>
			<a href="javascript:;" title="{{evento.loja.nome}}" data-href="{% url 'modal' 'evento' evento.id %}" rel="modal" data-param=560>
				<img src="{{ evento.imagem }}" alt="{{ evento.descricao }}">
			</a>
		</figure>

		<section class="content">
			<p class="descricao">{{ evento.descricao|truncatechars:75 }}</p>
		</section>

		<footer>
			<a class="like fl" href="javascript:;" title="Curtir" data-id="{{ evento.id}}">{{ evento.curtidas }}</a>
			<a class="share fr" href="javascript:;" rel="modal" data-href="{% url 'modal_share' evento.id %}" data-param=786>
		</footer>
	</article><!-- .item -->
</div>