{% if oferta.desconto or oferta.desconto != 0 %}
<span class="desconto">{{ oferta.desconto }}</span>
{% endif %}
<figure>
	<a href="javascript:;" title="{{oferta.loja.nome}}" data-href="{% url 'modal' 'oferta' oferta.id %}" rel="modal" data-param=786>
		<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
	</a>
</figure>

<section class="content">
	<p class="descricao">{{ oferta.titulo }}</p>
</section>

<footer>
	<a class="like fl" href="javascript:;" title="Curtir" data-id="{{ oferta.id}}">{{ oferta.curtidas }}</a>
	<a class="share fr checkfb" href="javascript:;" rel="modal" data-href="{% url 'modal_share' oferta.id %}" data-param="786">Compartilhar</a>
</footer>
