<div class="grid{% if last_div %} last{%endif%}{%if lastmob%} lastmob{%endif%}{%if lasttv%} lasttv{%endif%}">
	<article class="item">
		<span class="desconto">{{ oferta.desconto }}</span>
		<figure>
			<a href="" title="">
				<img src="{{ oferta.imagem }}" alt="{{ oferta.chamada_promocional }}">
			</a>
		</figure>

		<section class="content">
			<p class="descricao">{{ oferta.chamada_promocional|truncatechars:75 }}</p>
		</section>

		<footer>
			<a class="like fl" href="" title="">189</a>
			<a class="share fr" href="">Compartilhar</a>
		</footer>
	</article><!-- .item -->
</div>